@charset "utf-8";
.listmain .navSearch .breadNav a {
    font: 12px/40px "微软雅黑";
    color: #666;
}
.listmain .navSearch .search input {
    padding: 5px 20px 5px 0;
    margin:10px;
    border: 1px solid #aaa;
    width: 110px;
}
.listmain .cont .contLeft {
    width: 180px;
    margin-top: 10px;
    margin-right: 40px;
}
.listmain .cont .contLeft h2{
    font: bold 14px/30px "微软雅黑";
    color: #333;
    border-bottom: 1px solid #666;
}
.listmain .cont .contLeft h3{
    font: 14px/30px "微软雅黑";
    color: #333;
}
.listmain .cont .contRight {
    width: 980px;
    margin-top: 10px;
    font: 14px/20px "微软雅黑";
    color: #666;
}
.listmain .cont .contRight .option{
    padding: 10px;
    border: 1px solid #999;
}
.listmain .cont .contRight .option dl{
    padding: 5px 0;
}

.listmain .cont .contRight .option dt{
    float: left;
    padding: 0 10px;
    border-right: 1px solid #aaa;
}
.listmain .cont .contRight .option dd{
    float: left;
    padding: 0 10px;
}
.listmain .cont .contRight p {
    padding: 10px 0;
    font-size: 12px;
}
.listmain .cont .contRight p .num{
    color: red;
}

/* 页码 */
.pageLabel {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pageLabel .detailNum{
    padding: 5px 10px;
    margin: 0 10px;
    font: 14px/20px "微软雅黑";
    color: #333;
    float: left;
    border: 1px solid #999;
}
